@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');


/* font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif; */

*{
  font-family: 'Lato', sans-serif;
}

/* ========= NAVIGATION BAR ========= */

.navbar {
  line-height: 1;
}

.navbar > .container-fluid{
  justify-content: left;
}

.navbar-brand {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

#searchBar{
  flex: 1;
}

#searchBar::-webkit-search-cancel-button{
  position:relative;
  right:28px; 
  font-size: 20px;
}

#createArtBtn {
  height: 40px;
  border-radius: 24px;
  background: rgb(255, 215, 106);
  border: none;
  padding: 0px 15px;
  margin-left: 5px;
}

#createArtBtn:hover {
  background:rgb(255, 231, 167)
}

#searchContainer {
  display: flex;
  position: relative;
  flex: 1;
}

#searchContainer button {
  position: absolute;
  right: 10px;
  line-height: 1.7;
}

#searchContainer button:hover {
   cursor: pointer;
   color:rgb(175, 175, 175);
}

 

/* ========= SIDE FILTER TOGGLE ========= */

#sideToggle {
  /* background: rgb(255, 162, 162); */
  margin-right: 10px;
}

.w-25 {
  width: 300px !important;
}


/* ========= MAIN GALLERY ========= */

/* Each Art Listing */
.listingContainer {
  margin: 0 auto 25px auto;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  max-width: 300px;
  min-height: 350px;
  max-height: 400px;
  /* background: rgb(75, 222, 233); */
}

.listingContainer:hover{
  opacity: 0.8;
  cursor: pointer;
}

.imageHolder {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

.listingContent {
  padding: 0 10px;
}

.listingContent h2 {
  font-size: 1.2rem;
  padding-top: 10px;
}

.listingContent h3 {
  font-size: 0.9rem;
  color: rgb(128, 128, 128)
}

.fa-heart {
  color: rgb(204, 204, 204);
  margin-right: 5px;
}

.fa-comment-dots {
  margin-left: 15px;
  margin-right: 5px;
}

.row {
  --bs-gutter-x: 0rem;
}



/* ========= ART INFO PAGE ========= */
.artInfo {
  min-height: 100vh;
  width: 100%;
  /* background: rgb(210, 213, 255); */
}

#mainContentContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#artInfoImageHolder{
  margin: 25px auto;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 15px;
  box-shadow: 8px 10px 10px lightgrey;
  width: 500px;
  height: 400px;
  /* background: rgb(75, 222, 233); */
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

#artAndToolOptions{
  margin: 25px auto;
  width: 500px;
  height: 470px;
  /* background: red; */
}

.fa-ellipsis-h {
  font-size: 25px;
}

.fa-ellipsis-h:hover {
  color: rgb(145, 145, 145);
}

#toolOptions{
  position:relative;
}

.dropdown {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

#artInfoStatistics {
  position: absolute;
  left: 15px;
}

#artInfoStatistics .fa-heart, #artInfoStatistics .fa-comment-dots {
  font-size: 25px;
}

#artDetailsSection {
  width: 500px;
}

#artDetailsSection h3 {
  font-size: 1rem;
  color:rgb(145, 145, 145)
}

#artDetailsSection p:nth-child(4){
  color:rgb(145, 145, 145);
  font-size: 0.8rem;
}

#reviewSection {
  width:500px;
  height: fit-content;
  margin-bottom: 50px;
}

#newReview input, #newReview textarea {
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid grey;
}

#postReviewBtn {
  margin-top: 5px;
  border:none;
  border-radius: 5px;
  background: rgb(175, 175, 175);
  padding: 2px 15px;
  position:absolute;
  right: 0;
  bottom: 0;
}

#postReviewBtn:hover {
  background: rgb(207, 207, 207);
}

/* Review Section */
.reviewContainer {
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid grey;
  position: relative;
}

#newReview {
  width: 100%;
  height: 212px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
}

.reviewContainer p {
  margin-bottom: 1.5rem;
}

.reviewContainer h3 {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 10px;
}

.reviewContainer span {
  color: grey;
  font-size: 0.8rem;
}

.reviewContainer .dropdown {
  bottom: 0;
}

textarea{
  resize: none;
}



/* ========= EDIT ART PAGE ========= */
#editArtPage {
  min-height: 100vh;
  width: 100%;
  /* background: rgb(255, 225, 186); */
}

/* Preview */
.preview {
  margin-top: 20px;
  color: grey;
  display:flex;
  align-items: center;
  justify-content: center;
  border:1px solid rgb(119, 119, 119);
  height: 200px;
  width:200px;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

/* Modal box */
.popupBackground{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.editReviewPopup {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width:90%;
  min-width: 300px;
  max-width: 500px;
  margin: 25px auto;
  background: white;
  padding: 10px 30px;
  border-radius: 15px;
  line-height: 2;
}

#editReviewContent {
  display: flex;
  flex-direction: column;
}

#editReviewContent input, #editReviewContent textarea {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

#editReviewContent button {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: 15px;
  border:none;
  border-radius: 5px;
  background: rgb(69, 202, 255);
  padding: 2px 15px;
}

#editReviewContent button:hover {
  background: rgb(149, 225, 255);
}

#editReviewContent > #closeBtn{
  background: rgb(131, 131, 131);
  right: 180px;
}

#editReviewContent > #closeBtn:hover{
  background: rgb(185, 185, 185);
}


.badge {
  color: black;
  background:rgb(91, 120, 197)
}


#mainSection{
  display:flex;
  min-height: 100vh;
}

#filterSection{
  flex:1;
  /* background:rgb(238, 238, 238); */
}

#gallerySection{
  flex: 4;
  /* background: rgb(255, 225, 186); */
}

.badge-animal{
  background: rgb(235, 160, 172);
}

.badge-nature{
  background: rgb(176, 231, 165);
}

.badge-people{
  background: rgb(146, 174, 211);
}

.badge-digital{
  background: rgb(7, 185, 255);
}

.badge-traditional{
  background: rgb(255, 192, 57);
}


/* bootstrap css */
.col-lg-4, .col-md-6, .col-xs-12 {
  padding: 10px;
}




/* filter */
/* .offcanvas-header {
  padding: 1rem 1.5rem;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  line-height: 2;
}

.offcanvas-body > h2:nth-child(4), .offcanvas-body > button {
  margin-top: 15px;
} */

#mainFilter{
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

#mainFilter > div {
  line-height: 1.5;
}

#mainFilter h2{ 
  font-size: 20px !important;
  font-family: 'Karla', sans-serif;
}


#mainFilter h2:nth-child(3){ /* select */
  margin-top: 15px;
}

#mainFilter h2:first-child{ /* select */
  margin-bottom: 10px;
}

#mainFilter > h2:nth-child(4), #mainFilter > button {
  margin-top: 15px;
}

#mainFilter button {
  border: none;
  background: rgb(206, 206, 206);
  line-height: 2;
  border-radius: 5px;
}

#mainFilter button:hover {
  background: rgb(226, 226, 226);
}




/* ========= CREATE ART PAGE ========= */

#createArtPage {
  min-height: 100vh;
  width: 100%;
  /* background: lightseagreen; */
}

#artForm {
  display:flex;
  flex-direction: column;
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  margin: 0px auto;
  line-height: 2;
}

#artForm h2 {
  font-size: 1rem;
  margin-top: 15px;
}

#artForm input, #artForm textarea {
  padding: 5px 10px;
  background: rgb(240, 240, 240);
  border:none;
  border-radius: 5px;
}

#artForm span {
  margin-right: 10px;
  margin-left: 5px;
}

.btnContainer {
  height: 20px;
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  margin: 25px auto;
  position: relative;
}

.btnContainer button {
  position: absolute;
  bottom: 0;
  right: 0;
  border:none;
  border-radius: 5px;
  background: rgb(175, 175, 175);
  padding: 2px 15px;
}

.btnContainer button:hover {
  background: rgb(207, 207, 207);
}

.fa-chevron-left {
  margin-right: 10px;
}

.backBtn {
  border: none;
  background: white;
  margin: 10px 15px;
}

.backBtn:hover {
  opacity: 0.6;
}


#deleteConfirmation {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* height: 350px; */
  width:90%;
  min-width: 300px;
  max-width: 500px;
  margin: 25px auto;
  padding: 10px 30px;
  border-radius: 15px;
  line-height: 2;
}


#logo {
  width: 130px;
}

#noResults{
  margin-top:100px;
  text-align: center;
}

#resultsNum {
  color: grey;
  text-align: center;
  margin-block-end: 0em;
  margin-block-start: 1em;
}