/* Each Art Listing */

.listingContainer {
  margin: 0 auto 25px auto;
  border: 1px solid black;
  max-width: 300px;
  min-height: 350px;
  max-height: 400px;
  background: rgb(75, 222, 233);
}

.listingContainer:hover{
  opacity: 0.8;
  cursor: pointer;
}

.imageHolder {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

.listingContent {
  padding: 0 10px;
}

/* Create Art Page */
#createArtPage {
  min-height: 100vh;
  width: 100%;
  background: lightseagreen;
}


/* Art Information */
.artInfo {
  min-height: 100vh;
  width: 100%;
  background: rgb(210, 213, 255);
}


.artInfoImageHolder{
  margin: 25px auto;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background: rgb(75, 222, 233);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

textarea{
  resize: none;
}

/* Edit Art Page  */
#editArtPage {
  min-height: 100vh;
  width: 100%;
  background: rgb(255, 225, 186);
}


/* Preview */
.preview {
  border:1px solid black;
  height: 200px;
  width:200px;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

/* Review List */
.reviewContainer {
  border: 2px solid black;
}

#newReview {
  width: 300px;
  display: flex;
  flex-direction: column;
}

/* Modal box */

.popupBackground{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}
.popup {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background: rgb(250, 255, 202);
}

.badge {
  color: black;
  background:rgb(91, 120, 197)
}

.row {
  --bs-gutter-x: 0rem;
}



#mainSection{
  display:flex;
}

#filterSection{
  flex:1;
  background:rgb(193, 193, 211);
}

#gallerySection{
  flex: 4;
  background: rgb(255, 225, 186);
}

.badge-animal{
  background: rgb(235, 160, 172);
}

.badge-nature{
  background: rgb(176, 231, 165);
}

.badge-people{
  background: rgb(146, 174, 211);
}

.badge-digital{
  background: rgb(7, 185, 255);
}

.badge-traditional{
  background: rgb(255, 192, 57);
}


/* bootstrap css */
.col-lg-4, .col-md-6, .col-xs-12 {
  padding: 10px;
}


/* navbar */
.navbar {
  line-height: 1;
}

#sideToggle {
  background: rgb(255, 162, 162);
}

.navbar > .container-fluid{
  justify-content: left;
}


